[package]
name = "norn"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
anyhow = { workspace = true }
clap = { workspace = true }
config = { workspace = true }
norn-node = { workspace = true }
libp2p = { workspace = true }
norn-common = { workspace = true }
